@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.cy-container {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cy {
    height: 60vh;
    width: 40vw;
    border: 1px solid black;
    border-radius: 4px;
}

.graph-interface {
    display: flex;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.background {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    width: 96%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/Breadth-First-Search-Algorithm.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nodes_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.edge_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.node_number {
    padding: 2px;
    width: 365px;
    outline: none;
    height: 20px;
    border: 2px solid rgb(160, 160, 160);
    font-weight: bold;
    border-radius: 3px;
}

.edge_specification {
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
    outline: none;
    font-weight: bold;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.download-png {
    margin-left: 10px;
}

.graph-canvas-buttons {
    margin-top: 10px;
}

.graph-buttons button {
    font-size: 14px;
    height: 32px;
    width: 150px;
    border-radius: 3px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#cy {
    border-radius: 5px;
    border: 2px solid rgb(160, 160, 160)
}

.graph-canvas-buttons,
.graph-specification,
label {
    font-size: 15px;
    margin-left: 5px;
}

.graph-canvas-buttons,
.graph-specification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-canvas-buttons input {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.graph-specification input {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.graph-specification {
    margin-bottom: 10px;
}