@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.cy-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    height: 98.5vh;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 2px;
}

#cy {
    height: 80vh;
    width: 85%;
    border: 1px solid black;
    border-radius: 4px;
    border-radius: 5px;
    border: 2px solid rgb(160, 160, 160)
}

.nodes_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 98.5vh;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 2px;
}

.edge_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
}

.download-png {
    margin-left: 10px;
}

.graph-canvas-buttons {
    margin-top: 10px;
}

.graph-canvas-buttons,
.graph-specification,
label {
    font-size: 15px;
    margin-left: 5px;
}

.graph-canvas-buttons,
.graph-specification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-canvas-buttons input {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.graph-specification input {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.graph-specification {
    margin-bottom: 10px;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-horizontal:hover {
    background-color: blue;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.split {
    display: flex;
    flex-direction: row;
    width: 100vw;
}