.navbar {
    position: relative;
    width: 95%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

.parent-navbar {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    z-index: 1;
}